body {
  height: 90%;
  width: 90%;
  padding-left: 3%;
  position: relative;
  overflow: hidden;
  transform: all 0.5s;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.topWebsiteMain {
  width: 100%;
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100%;
  /* flex-direction: row; */
}
.topWebsite {
  /* width: 40%; */
  vertical-align: middle;
  /* margin-left: auto; */
}

#newButton {
  text-transform: uppercase;
}

#changeLang {
  margin-left: auto;
}
/* body {
  background-color: black;
  color: white;
} */

/* .divCalculator {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.formCalculator {
  width: 50%;
} */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #171515;
  }

  /* .newButton {
    color: white;
  } */
}

@media (prefers-color-scheme: light) {
  body {
    color: #121212;
    background: #e3dbdb;
  }

  /* .newButton {
    color: dark;
  } */
}

/* .newButton {
  border-radius: 10px;
  transition: 1s linear;
  background: #809fff;
} */

/* .newButton:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #3c82f8;
} */

.lightTheme {
  background-color: #eee;
  color: black;
  transition: all 0.5s;
  .btn-1 {
    border: 1px solid #000000;
  }
  .btn-1::before {
    background: #000000;
  }
}

.darkTheme {
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.btn-1 {
  text-align: center;
  display: inline-block;
  padding: 15px 15px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 20px;
}

.btn-1:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: #fff;
  left: -55px;
  top: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}

.btn-1:hover:before {
  left: 95%;
}

/* .inputQuantityCurrency {
  width: 65%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.errorLabel {
  color: red;
  /* text-transform: uppercase; */
  /* transform: all 1s; */
}

/* input {
  height: 40%;
  font-size: 6em;
} */

.errorSelect {
  background-color: red;
}

/* select {
  height: 40%;
  font-size: 6em;
} */

.calculatorFormOut {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.claculatorFormIn {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

h1 {
  background-image: linear-gradient(
    45deg,
    #ffb3ba,
    #c49c6e,
    #bfbf76,
    #77b084,
    #ff7e74,
    #3b82f6,
    #c084fc,
    #db2777
  );
  color: transparent;
  -webkit-background-clip: text; /* Edge, Chrome */
  background-clip: text; /* Safari, FF */
  animation: gradientAnimation 8s linear infinite;
  animation-direction: alternate;
  background-size: 300% 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0;
  }
  to {
    background-position: 100%;
  }
}

/* 
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loader span {
  font-family: arial;
  font-size: 35px;
  color: gray;
  display: inline-block;
  transition: all 0.5s;
  animation: animate 2s infinite;
}

.loader span:nth-child(1) {
  animation-delay: 0.1s;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.3s;
}

.loader span:nth-child(4) {
  animation-delay: 0.4s;
}

.loader span:nth-child(5) {
  animation-delay: 0.5s;
}

.loader span:nth-child(6) {
  animation-delay: 0.6s;
}

.loader span:nth-child(7) {
  animation-delay: 0.7s;
}

@keyframes animate {
  0% {
    color: white;
    transform: translateY(0);
    margin: 0;
  }
  10% {
    color: purple;
  }
} */
